
[options]
isa rv32imc
nbus 3


[depth]
insn      20

# bus_imem            2    14
# bus_dmem            2    14
# bus_imem_fault      1    10
# bus_dmem_fault      1    10
# reg       1    18
# pc_fwd    5    20
# pc_bwd    5    20
# liveness  1  10 30
# unique    1  10 30
# causal     5    10
# ill             10
# csrw            10
# csr_ill         10



[csrs]
mstatus
mepc
mcause

[illegal_csrs]
fff     m       rw

[defines]
`define RISCV_FORMAL_ALIGNED_MEM
`define RISCV_FORMAL_ALTOPS
`define RISCV_FORMAL_COMPRESSED
`define DEBUGNETS

[defines liveness]
`define RV_FAIRNESS

[script-sources]
read_verilog -sv @basedir@/cores/@core@/wrapper.sv
read_verilog @basedir@/../../../../hw/gen/@core@_formal.v

